<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ site.title }}</title>
  <link rel="stylesheet" href="css/main.css">
{% include head.html %}
</head>
<body>
  <div class="container">
    <h1><a href="/">මංජුල වෙඩිවර්ධන <br /></a></h1>
<p>මාධ්‍යවේදී / ලේඛක            |             <a href="mwediwardena[at]jdslanka.org">email—> </a> <a href="http://www.jdslanka.org/">jds lanka—></a>  <a href="https://www.flickr.com/photos/wedi_man/">flickr—></a></p>



    {{ content }}
  </div>
{% include scripts.html %}
</body>
</html>
